<div class="row">
    <div class=" medium-12 row collapse">
        <h1>In-App Disclaimer</h1>
    </div>
</div>
<div class="row group-section no-box-shadow">
    <div class="row">
        <div class="medium-12 small-12 columns">
            <p>By using this application and its content, you accept and agree to be bound by the following terms and conditions.</p>
            <p>This Application was produced after careful consideration of the scientific and medical knowledge and the evidence available at the time of publication. The results and recommendations provided by this application are not intended to, and should not replace clinical judgment of the care provider. Further, the material is not intended to present the only, or necessarily the best, methods of procedures for the medical situation, but rather is intended to represent an approach, view, statement, or opinion. The content in this product is presented as an educational service intended for licensed healthcare professionals. Therapeutic options should be determined after discussion between the patient and their care provider.</p>
            <p>You hereby agree to indemnify, defend, and hold ACCF, its directors, officers, shareholders, parents, subsidiaries, affiliates, agents, and licensors harmless from and against any and all liability, losses, damages, and costs, including, without limitation, reasonable attorney's fees and costs, incurred in connection with any claim arising from your use of this application or its content.</p>
            <p>© The American College of Cardiology Foundation 2017</p>
            <p>All Rights Reserved. The content of this app has been published for personal and educational use only. No commercial use is authorized.</p>
            <p><a target="_blank" href="http://www.acc.org/footer-pages/privacy-policy" class="link">View full ACC Privacy Policy</a></p>
        </div>
    </div>
</div>