/*  Variables  */
$advice-primary-color : #D8F6FF;
$advice-secondary-color : #FFF1F0;
$advice-tertiary-color : #E8FCF1;

$border-color : #b3b3b3;

$light-orange : #FFF8F0;
$light-red : #FFEFEF;
$light-green : #EFFAF4;
$light-gray : #F7F7F7;


$dark-orange : #E99B2F;
$medium-orange : #FEF1E0;

$dark-red : #F65354;
$medium-red : #FFDFE0;

$dark-green : #4CBD85;
$medium-green : #E0F5EC;


$dark-gray : #696969;
$medium-gray : #EEEEEE;

$tooltip-border : #188DAE;