 <div class="page with-group-sections wizard pbr stuck-footer">
    <div class="section-nav back">
        <div class="circle blue-btn" data-bind="click:appViewModel.backToInterruptFromWizard">
            <i class="fa fa-holder-dynamic"></i>
        </div>
        <div class="text">Back</div>
    </div>
    <div class="page-wrapper">
        <h1 class="clearfix">Compute
            <div class="small-12 medium-2 columns text-right float-right nopadding cp-wiz-tp" data-bind="visible:appViewModel.proceduralVMinactiveReset">
                <button type="button" name="button" class="button clear-grey-btn disabled reset cp-width cp-wiz-tp">
                    Clear Page</button>
            </div>
            <div class="small-12 medium-2 columns text-right float-right nopadding cp-wiz-tp" data-bind="visible:appViewModel.proceduralVMactiveReset,click:appViewModel.resetProcedureWizard"> 
                <button type="button" name="button" class="button reset grey-btn cp-width">
                    Clear Page</button>
            </div>
        </h1>
                <section class="group-section clearfix" >
                    <h2 class="with-underline">Procedural Bleed Risk</h2>
                    <div class="row nopadding">
                     <div class="callout sg" data-bind="css: appViewModel.proceduralVMcolorChange() == true ? 'no-status' : 'success'">
                    
                <h5 class="text">Procedure: <span class="response" data-bind="text:appViewModel.proceduralVMprocedureName"></span>
                </h5>
                
                <h5 class="text">Bleed Risk*: <span class="response" data-bind="text:appViewModel.proceduralVMprocedureRisk">       </span> 
                </h5>
                <span class="info" data-bind="text:appViewModel.proceduralVMprocedureComment"></span>
                <span class="info">*Procedural bleed risk classifications were assigned in 2016.</span>
                    </div>
                   
                    <div class="callout columns small-12 filter clearfix question wildcard" data-bind="css: appViewModel.proceduralVMshowNotFoundError() == true ? 'error' : ''">
                        <div class="small-12 large-1 columns nopadding">
                            <label for="filter" class="middle filter-search">Search</label>
                        </div>
                       <div class="small-12 large-6 columns nopadding end cross">
                    <div class="input-holder">
                        <div class="input-space">
                         <input type="text" data-bind="attr: {placeholder: appViewModel.procedurePlaceHolder}, textInput: appViewModel.proceduralVMsearchValue, valueUpdate: 'afterkeydown', event: { keyup: appViewModel.searchProcedureOnWizard,focus:appViewModel.hideFloatingButtons,blur:appViewModel.showFloatingButtons }"/>
                        </div>
                        <span class="ico" data-bind="visible:appViewModel.proceduralVMshowIcon,click:appViewModel.clearProceduralSearchedField">
                            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
                <div class="small-12 large-6 nopadding end columns">
                    <div>&nbsp;</div>
                    <div class="message-holder">
                        <small class="error">
                          <i class="fa fa-holder"></i>Your search has produced no results.</small>
                        <small class="warning">
                          <i class="fa fa-holder"></i>Warning message</small>
                        <!--<small class="info">
                          <i class="fa fa-holder"></i>Data message</small>-->
                    </div>
                </div>
            </div>
            <div class="row">
                     <div class="hide-for-small large-1 column nopadding">&nbsp;</div>
                    <div class="column small-12 large-6 end nopadding" data-bind="foreach:$root.appViewModel.proceduralVMprocedureBleedRisks">
                    <div class="switch-input-space">
                        <div class="switch radio">
                            <input class="switch-input" type="radio" data-bind="attr: {  id: 'yes-no-radio-' +procedureId() },value: 'yes-no-radio-' +procedureId(),checked: $root.appViewModel.proceduralVMprocedureEvent,click:$root.appViewModel.proceduralRiskEventToggleAssociation" name="radio-switch">
                            <label class="switch-paddle" data-bind="attr: {  for: 'yes-no-radio-' +procedureId() }">
                                <span class="show-for-sr">Do you like me?</span>
                                <span class="switch-active" aria-hidden="true">
                                    <i class="fa fa-holder"></i>
                                </span>
                                <span class="switch-inactive" aria-hidden="true">
                                    <i class="fa fa-holder"></i>
                                </span>
                            </label>

                        </div>
                        <label class="switch-value" data-bind="attr: {  for: 'yes-no-radio-' +procedureId() },text: '&nbsp;' + procedureRiskName()"></label>

                    </div>

                    </div>
        </div>
 
			<div class="footer sticky-button-bar" data-bind="visible:appViewModel.showFloatingButton">
				<div class="floating-button-margin page-wrapper">
                     <a class="button blue-btn" data-bind="click:appViewModel.backToInterruptFromWizard">Cancel</a>
					<a class="button blue-btn disabled"  data-bind="visible:appViewModel.proceduralVMinactiveDone" >Done Calculating Risk</a>
					<a class="button blue-btn" data-bind="visible:appViewModel.proceduralVMactiveDone,click:appViewModel.navigateToInterruptFromWizardDone">Done Calculating Risk</a>
				</div>
			</div>
        </section>
    </div>
</div>

<footer class="footer-margin page footer show-for-large">
    <div class="row">
        <!--<a href="javascript:void(0)" class="logo text-center">
        <img src="assets/img/footerlogo.svg" alt="ACC">
        <img src="assets/img/bridge_anticog.svg" alt="BAC">
       </a>-->
        <ul class="nav tabs tabs-primary reverse swappable small row" style="visibility: visible;flex-wrap: initial;">
            
                            <li id="guideline-Tab" class="small-3 columns">
                                <a class="btn-ga4" href="../index.html#!/content/resources/" data-bind="click: appViewModel.goToResourcePage">
                                    <span class="short-text btn-ga4">Resources</span>
                                    <span class="long-text btn-ga4">Resources</span>
                                </a>
                            </li>
							<li id="legal-Tab" class="small-3 columns">
                                <a class="btn-ga4" href="../index.html#!/content/terms/" data-bind="click: appViewModel.goToDisclaimerPage">
                                    <span class="short-text btn-ga4">Terms</span>
                                    <span class="long-text btn-ga4">Terms</span>
                                </a>
                            </li>
                            <li id="legal-Tab" class="selected small-3 columns">
                                <a class="btn-ga4" href="../index.html#!/content/about/" data-bind="click: appViewModel.goToAboutTheAppPage">
                                    <span class="short-text btn-ga4">About</span>
                                    <span class="long-text btn-ga4">About App</span>
                                </a>
                            </li>
                            <li id="about-Tab" class="small-3 columns">
                                <a class="btn-ga4" href="../index.html#!/content/news/" data-bind="click: appViewModel.goToNewsPage">
                                    <span class="short-text btn-ga4">News</span>
                                    <span class="long-text btn-ga4">News</span>
                                </a>
                            </li>
        </ul>
    </div>
</footer>

