.row::before, .row::after {
    content: ' ';
    display: table;
}
.row::after{
    clear: both;
}
.switch.rotate .switch-paddle {
  height: 4rem;
  width: 2rem; }
.switch.rotate .switch-active, .switch.rotate .switch-inactive {
  position: absolute;
  left: 50%;
  transform: translatex(-50%); }
.switch.rotate span.switch-inactive{
 top: 0; 
}
.switch.rotate.small .switch-paddle {
  height: 3.5rem;
  width: 1.75rem; }
.switch.rotate.tiny .switch-paddle {
  height: 3rem;
  width: 1.5rem; }
.switch.rotate .switch-paddle::after{
  top: 55%;
  left: 50%;
  transform: translatex(-50%); }
  .switch.rotate input:checked ~ .switch-paddle::after{
    top: 10%;
    left: 50%;
  }
.switch-input-space.column.small-12.large-4{
      padding: .5em;
      border-radius: 5px;
}
.next-btn{
    margin: 1rem 0 0 0;
}
.page.footer .tabs.tabs-primary.reverse, .page.footer .tabs.tabs-primary.reverse li{
    margin: auto;
}

.VLclass{
    vertical-align: middle;
    border-right: 2px solid #999;
    padding-right: 10px;
}

a#resetAll, a .fa-repeat{
    color: #4F4190 !important;
}

#divAdvice hr{margin: 0px 0px 10px;}
hr:last-child {display:none}

.highlighted .order-marker.hollow{
    display:none;
}

.is-reveal-open .modal-window{
    top: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    margin: auto;
    z-index: 1006;
	overflow:hidden;
}

.is-reveal-open .modal-window .row{
	width:100%;
	height:100%;
	overflow:hidden;
}

.tabs.tabs-primary li a {
    padding: .75em .75em;
}

@media only screen and (min-width: 767px) and (max-width: 1023px){
    .tabs.tabs-primary li a {
                padding: 1.25em .75em;
    }
}

.no-box-shadow {
    -webkit-box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2)!important;
    -moz-box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2)!important;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2)!important
}
.page-wrapper .group-section:not(.no-box-shadow ) {
    -webkit-box-shadow: 1px 1px 4px 4px rgba(79, 65, 144, 0.6);
    -moz-box-shadow: 1px 1px 4px 4px rgba(79, 65, 144, 0.6);
    box-shadow: 1px 1px 4px 4px rgba(79, 65, 144, 0.6);
}
.table{
  table-layout: fixed;
}
 td, th{
  word-wrap: break-word;
  vertical-align: top !important;
}
.highwire-fragment{
  margin: 0 auto;
  display: block;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.news-padding{
    margin: 0 .65rem 1rem .5rem;
}
.message-holder {
    font-size: 1rem;
}
#appRecommendationModalWindow{
    top: 10px!important;
}
.accordion .toggle .text{
	padding-left:0;
}
.viewMedia{
	position:absolute;
	right:0;
	bottom:0;
}
.viewMedia .link{
	text-decoration:none;
}

.tabs-primary.tabs li,
.tabs-primary.tabs li.active{
	cursor:pointer;
}
.tabs-primary.tabs li.selected{
	cursor:default;
}
label.switch-value h5{
	min-height:2.375em;
}

@media only screen and (min-width: 1024px) and (max-width: 1102px){
    label.switch-value h5 {
        min-height:3.625em;
    }
}

@media only screen and (min-width: 640px) {
    .modal-width {
        width: 60% !important;
        top: 30%;
    }
    .modal-width img {
        width: 100% !important;
    }
}
@media only screen and (min-width: 1024px) {
    #appModalWindow {
        width: 40% !important;
        top: 20%;
    }	
}
@media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation : portrait) { 
	#appRecommendationModalWindow {
	   width: 80% !important;
	}
}
@media only screen 
and (min-device-width: 800px) 
and (max-device-height: 1280px) 
and (min-resolution: 192dpi)
and (-webkit-device-pixel-ratio:2)
and (orientation : portrait) {
    label.switch-value h5 {
        min-height:2.375em;
    }
}

@media only screen 
and (min-device-width: 1280px) 
and (max-device-height: 800px) 
and (min-resolution: 192dpi)
and (-webkit-device-pixel-ratio:2)
and (orientation : landscape){
 label.switch-value h5{
  min-height:3.625em;
 }
}
#inputsection .row .text-left h4 p {
    font-weight: inherit;
    font-family: inherit;
    line-height: inherit;
    font-size: inherit;
    color: inherit;
    margin: 0;
}
.warning .not-show-again a {
    text-decoration: none;
    font-size: .8750rem;
}

.build {
    opacity: .28;
    text-align: right;
}


.panzoom {
  border: 2px solid #cccccc;
}

.panzoom-buttons {
    margin: 0;
    text-align: right;
    border: 0;
}

.panzoom-element img {
    display: block;
    max-width: 1024px;
    margin: 0 auto;
    width: 100%;
}

@media only screen and (max-width: 640px) {
    .panzoom-buttons .button {
        font-size: .8rem;
    }
}