@media print {
    .colored-paper {
        background-image: url("../img/construction-paper.png") !important;
        background-color: #198dae !important;
    }
    .colored-paper h5 {
        color: white !important;
    }
    .large-6 {
        width: 50%; 
    }
    .disclaimer-print {
        margin-top: 20px !important;
    }
    #advice-card {
        margin-top: 20px;
    }
}
