@media print {
    .colored-paper {
        background-image: url("../img/construction-paper.png") !important;
        background-color: #198dae !important;
    }
    .colored-paper h5 {
        color: white !important;
    }
    .large-6 {
        width: 50%; 
    }
    .disclaimer-print {
        margin-top: 20px !important;
    }
    #advice-card {
        margin-top: 20px;
    }
    .rtl{
        text-align:right !important;
    }
    .rtl .summary-table .summarytable-head tr th,
    .rtl .summary-table .table-body tr td{
        text-align: right;
    }
    .rtl .race-lbl{        
        padding-left: 0.3em;
    }
    .rtl .summary-table{
        direction:rtl !important;
    }
}
